<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Hello!</title>
</head>

<body>

    <p>Date/Time: <span id="datetime"></span></p>
    <p id="datetime"></p>

    <span id="datetime"></span></p>

    <script>
        var dt = new Date();
        document.getElementById("datetime").innerHTML = dt.toLocaleString();
    </script>




</body>

</html>