<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Hello!</title>
</head>

<body>

    
    @model string[]
    <h2>Here are some names!</h2>
    
    @foreach(var name in Model)
    {
        <p>@name</p>
    }


</body>

</html>