<!--this contains our user class. the type my view is going to expect lower case m in model to define the type -->

@using ViewModelFun.Models
@model User

<!-- Upper case M refers to the to refer to an object of that type -->
<h1>Hello @</h1>